@charset "UTF-8";
@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  line-height: 94%;
}

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
  font-size: 14px;
  line-height: 1.5;
  color: #222;
  font-family: Poppins, AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

/* 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}

/* 목록 초기화 */
ol,
ul {
  list-style: none;
}

/* 스타일 초기화 */
strong {
  font-weight: normal;
}

em {
  font-style: normal;
}

img {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

/* 스타일 시작 */
body {
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#section1 {
  background: #000;
}

#section1 .span__cont {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

#section1 .span__cont.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section1 .span__cont span {
  text-align: center;
  display: block;
  font-size: 20vw;
  font-weight: 800;
  color: #F9DB53;
}

.video {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  position: fixed;
  left: 0%;
  /* % of surrounding element */
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  /* % of current element */
  height: 100%;
  width: 100vw;
  /* 100 * 16 / 9 */
  min-height: 56.25vw;
  /* 100 * 9 / 16 */
}

#section2 {
  height: 100%;
  background: #000;
  width: 90vw;
  font-size: 10vw;
  font-weight: 900;
  width: 100%;
}

#section2 .span__cont {
  margin-right: 2vw;
  z-index: 2;
  padding: 224px 0 224px 0;
  position: relative;
  color: #fff;
}

#section2 .span__cont2 {
  z-index: 1;
  margin-right: 2vw;
  margin-top: 224px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #F9DB53;
  position: absolute;
  right: 0;
  top: 0;
}

#section2 span {
  text-align: right;
  display: block;
}

#section3 {
  overflow: hidden;
  width: 12834px;
  color: #fff;
  font-family: 'Cafe24 Ohsquare';
  background: #F9DB53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section3 .text_wrapper .text {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: inline-block;
  font-size: 20vw;
}

#section4 {
  background: indianred;
}

#section5 {
  background: paleturquoise;
}

.horizon_box {
  position: absolute;
  top: 0;
  left: 100%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.box h1 {
  font-size: 50px;
  text-align: center;
}

.box2 {
  background: crimson;
}

.box3 {
  background: darkorchid;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: 'NanumSquare';
  font-size: 20px;
  font-weight: 300;
  position: fixed;
  z-index: 9001;
  top: 40px;
  height: 43px;
  width: 100%;
  padding: 0 50px;
}

#header .header__left li {
  vertical-align: middle;
}

#header .header__left li span > div {
  margin-bottom: 6px;
}

#header .header__left li .header__num {
  color: #F9DB53;
}

#header .header__left .header__circle {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}

#header .header__left .header__percent {
  position: relative;
  display: inline-block;
  width: 16vw;
  height: 3px;
  background: #fff;
  border-radius: 5px;
}

#header .header__left .header__percent .header__percent__show {
  display: inline-block;
  position: absolute;
  background: #F9DB53;
  width: 10%;
  height: 100%;
}

#header .header__right li {
  margin-left: 34px;
  vertical-align: middle;
}

#header .header__right .yellow {
  text-align: center;
  background-color: #F9DB53;
  color: #fff;
  width: 208px;
  height: 27px;
}

#header .header__right .yellow span {
  vertical-align: sub;
}

#header ul li {
  display: inline-block;
}

.blink {
  -webkit-animation: blink-effect 0.1s linear infinite;
          animation: blink-effect 0.1s linear infinite;
}

@-webkit-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
