<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>레이아웃테스트10</title>
  <style>
    * {
      padding : 0;
      margin : 0;
    }
    header {
      height: 150px;
      background-color: #FBE4EC;
    }
    nav {
      height: 500px;
      background-color: #F48FB1;
    }
    article {
      background-color: #EC407A;
      height: 1200px;
    }
    footer {
      background-color: #D81A60;
      height: 150px;
    }
    .container {
      height: inherit;
      background-color: rgba( 0, 0, 0, 0.2);
      width: 1200px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <main>
    <header>
      <div class="container"></div>
    </header>
    <nav>
      <div class="container"></div>
    </nav>
    <article>
      <div class="container"></div>
    </article>
    <footer>
      <div class="container"></div>
    </footer>
  </main>
</body>
</html>