
/* 카드타입유형 */
body {
  background-color: #f3f3f3;
}
.container {
  width: 1200px;
  padding: 100px 0 100px 0;
}
.cardType {
  margin: 100px 0;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* cardType01 */
.cardType01 {
  font-family: 'GmarketSans';
}
.cardType01 h2{
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 7px;
}
.cardType01 p{
  font-weight: 200;
  font-size: 26px;
  line-height: 1.28;
  margin-bottom: 40px;
}
/* float을 이용한 레이아웃 */
/* .card-wrap {
  overflow: hidden;
}

.card-wrap > div {
  float: left;
  width: 387px;
  margin-right: 19px;
}


.card-wrap > div:last-child {
  margin-right: 0px;
} */
/* flex를 이용한 레이아웃 */
.cardType01 .card-wrap {
  display: flex;
  gap : 20px;

}
.cardType01 .card {
  max-width: 387px;
}
.cardType01 .card .card-title {
  display: block;
  font-size: 32px;
  white-space: nowrap; /* 한줄 효과 */
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardType01 .card .card-desc {
  display: block;
  font-size: 20px;
  font-weight: 300;
  overflow:hidden;       /* 두줄 효과 */
  display: -webkit-box; /* 벤더 프리픽스 -> flex 개념으로 변경*/
  display: -moz-box; /* 벤더 프리픽스 -> flex 개념으로 변경*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cardType01 .card .card-keyword {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}

/* cardType02 */

.cardType02 {
  font-family: 'S-CoreDream';
  
}
.cardType02 h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.cardType02 p {
  font-size: 26px;
  font-weight: 300;
  margin:22px 0 40px 0;
  text-align: center;
}
.cardType02 .card-wrap {
  display: flex;
  gap:20px;

}
.cardType02 .card-wrap .card{
  padding:15px 15px 16px 14px;
  border-radius: 5px;
  border: solid 1px #e6e6e6;
}
.cardType02 .card-wrap .card .card-title{
  display: inline-block;
  font-size:24px;
  font-weight: 500;
  margin-top: 14px;
}
.cardType02 .card-wrap .card-img{
  width: 255px;
  height: 200px;

}
.cardType02 .card-wrap .card .card-desc{
  font-size:14px;
  line-height: 1.4;
  font-weight: 300;
  overflow:hidden;       /* 두줄 효과 */
  display: -webkit-box; /* 벤더 프리픽스 -> flex 개념으로 변경*/
  display: -moz-box; /* 벤더 프리픽스 -> flex 개념으로 변경*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 6px;
}
.cardType02 .card-wrap .card .card-link{
  margin: 6px 0 0 2px;
  display: inline-block;
}
.cardType02 .card-wrap .card .card-link span{
  
  font-weight: normal;
  font-size:10px;
  line-height: 1.4;
  border-radius: 20px;
  border: solid 1px #000;
  background-color: #000;
  color: #fff;
  padding : 4px 14px 3px 15px;
}





/* 03 */
.red {
  background-color: #ff5151;
}
.blue {
  background-color: #5465ff;
}
.green {
  background-color: #11c865;
}

.cardType03{
  font-family: 'NanumSquare' !important;
  font-weight: 400;
}
.cardType03 .title{
  padding: 0px 0 47px;
}
.cardType03 h2{
  font-weight:800;
  font-size: 50px;
  margin-bottom: 22px;
}
.cardType03 .title p{
  font-size: 18px;
}
.cardType03 .topic {
  font-weight: 400;
  position: absolute;
  right:0;
  top:190px;
}
.cardType03 .topic p{
  display: inline;
  font-size: 18px;
  margin-left: 20px;
}
.cardType03 .topic p:first-child{
  color: #ff2626;
}
.cardType03 .card-wrap .card{
  margin-bottom: 28px;
}
.cardType03 .card-wrap .card .card-img{ 
  position: absolute;
  width: 285px;
  height: 185px;
}
.cardType03 .card-wrap .card article{
  padding-left: 305px;

}
.cardType03 .card-wrap .card article .card-title{
  display: block;
  font-size: 26px;
  font-weight: 800;
  
}
.cardType03 .card-wrap .card article .card-link{
  display: inline-block;
  margin-bottom: 10px;
  max-width: fit-content;
  padding: 3px 15px 3px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
}
.cardType03 .card-wrap .card article .card-desc{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.53;
  height: 75px;
  text-align: left;
  color: #555;
  display: inline-block;
  margin-bottom: 20px;
}
.cardType03 .card-wrap .card article .card-date{
  font-weight: 700;
  line-height: 1.4;
  font-size: 14px;
  text-align: left;
  color: #555;
  text-decoration: underline;
}

/* 4 */
.cardType04 {
  font-family: 'GmarketSans';
}
.cardType04 h2 {
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 68px;
}

.cardType04 .card-wrap {
  display: flex;
  gap:20px;
}
.cardType04 .card-wrap .card {
  padding-left: 44px;
  background-color: #f2f2f2;
  border: solid 1px #ededed;
  border-radius: 14px;
  width: 388px;
}
.cardType04 .card-wrap .card .topic {
  margin: 56px 0 14px 0;
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.cardType04 .card-wrap .card .title {
  margin-bottom: 64px;
  display: block;
  font-size: 24px;
  line-height: 1.5;
}
.cardType04 .card-wrap .card .img {
  float:right;
  width: 344px;
  margin-bottom: 66px;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
/* 5 */
.cardType05 {
  font-family: 'NanumSqure';
}
.cardType05 h2 {
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
}
.cardType05 p {
  font-size: 14px;
  margin-bottom: 84px;
  text-align: center;
}
.cardType05 .card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

}
.cardType05 .card-wrap .card {
  border-radius: 5px;
  border: 1px solid #eeee;
}
.cardType05 .card-wrap .card article {

  margin-left: 40px;
  margin-bottom: 48px;
}
.cardType05 .card-lamp {
  display: inline-block;
  background-position: -286px -4px;
  background-repeat: no-repeat;
  width: 143px;
  height: 22px;
}
.cardType05 .card-clock {
  display: inline-block;
  background-position: -286px -59px;
  background-repeat: no-repeat;
  width: 136px;
  height: 17px;
}
.cardType05 .card-Friends {
  display: inline-block;
  background-position: -4px -231px;
  background-repeat: no-repeat;
  width: 153px;
  height: 17px;
}
.cardType05 .card-wave {
  display: inline-block;
  background-position: -286px -34px;
  background-repeat: no-repeat;
  width: 139px;
  height: 17px;
}
.cardType05 .card-mini {
  display: inline-block;
  background-position: -4px -129px;
  background-repeat: no-repeat;
  width: 200px;
  height: 17px;
}
.cardType05 .card-edition {
  display: inline-block;
  background-position: -4px -102px;
  background-repeat: no-repeat;
  width: 201px;
  height: 19px;
}
.cardType05 .card-wrap .card-img {
  height: 374px;
  width: 360px;
  margin-bottom: 40px;
}
.cardType05 .card-wrap .card-new {
  display: inline-block;
  width: 42px;
  margin-left: 4px;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: -.24px;
  color: #fff;
  text-align: center;
  border-radius: 9px;
  background-color: #fa615b;
  vertical-align: top;
}
.cardType05 .card-wrap .card-desc {
  display: block;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top:10px;
}
.cardType05 .card-wrap .card-buy {
  text-align: center;
  display: inline-block;
  width: 90px; height: 32px;
  background-color: #05d686;
  margin-right: 10px;
}
.cardType05 .card-wrap .card-buy a {
  font-size: 12px;
  color: #fff;
  line-height: 32px;
}
.cardType05 .card-wrap .card-info {
  display: inline-block;
  text-align: center;
  width: 90px; height: 32px;
  border: 1px solid #eeee;
}
.cardType05 .card-wrap .card-info a {
  background-color: #fff;
  font-size: 12px;
  line-height: 32px;
}

