/* container */
.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.13); */
    margin: 0 auto;
}

.container-fluid {
    width: 96%;
    margin: 0 auto;
}

/* btn-style */


.btn-style{
    border: 1px solid #000;
    padding: 7px 30px;
}

.radius {
    border-radius: 30px;
    margin-left: 10px;
}

.dark .btn-style {
    border-color: #fff;
}