body {
  background-color: #F3F3F3;
}

.imageType {
  margin: 150px 0;
  position: relative;
  padding: 100px 0;
  margin:100px 0;
  font-family: 'GmarketSans';
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.imageType01 .img-wrap {
  display: flex;
  gap:20px;
}

header {
  padding-bottom: 100px;
}

h2 {
  font-size: 50px;
  color: black;
}

.imageType01 {
  color:#fff;
  width: 1200px;
  margin: 0 auto;
}

.imageType01 .img-wrap .container {
  position: relative;
  width:1200px;
}

.imageType01 .img-wrap .container article {
  padding: 15px;
  background-color: rgba( 0, 0, 0, 0.7 );
  width: 475px;
  position: absolute;
  bottom: 30px;
  left:30px;
  color:#fff;
}

.imageType01 .img-wrap .container img {
  width: 590px;
  height: 440px;
}

.imageType01 .img-wrap .container article .img-title {
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.imageType01 .img-wrap .container article .img-desc {
  font-size: 12px;
  display: block;
  line-height: 1.4;
  margin-bottom: 20px;
}

.imageType01 .img-wrap .container article .img-link a {
  color:#fff;
  font-weight: 300;
  font-size: 14px;
}




/* 02 */
/* .imageType02 {
  width: 1200px;
  margin: 0 auto;
}
.imageType02 .container .img-wrap {
  display: flex;
  gap:20px
}
.imageType02 .container .img-wrap .img {
  position: relative;
  width: 388px;
  height: 440px;
}
.imageType02 .container .img-wrap .img article {
  color:#fff;
  position: absolute;
  top: 186px;
  left: 50%;
  transform: translate(-50%, -20%);
}
.imageType02 .container .img-wrap .img article .title{
  padding: 5px 18px 0px 18px;
  line-height: 28px;
  margin-bottom: 10px;
  width:max-content;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
}
.imageType02 .container .img-wrap .img article .link{
  padding: 5px 10px;
  border-radius: 25px;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  width:fit-content;
  margin: 0 auto;
} */

.imageType02 {
  font-family: 'GmarketSans';
  padding: 100px 0;
}
.imageType02 h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 36px;
}
.imageType02 {}
.imageType02 .image-wrap {
  display: flex;
  justify-content: space-between;
}
.imageType02 .image {
  width: 386px;
  position: relative;
  perspective: 800px;
}
.imageType02 .image::after {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  left: 30px; top: 30px; right: 30px; bottom: 30px;
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 0.4s ease-in-out;
}
.imageType02 .image:hover::after {
  opacity: 0.9;
  transform: rotateX(0deg);
}
.imageType02 .image .image-img {}
.imageType02 .image .image-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, 50%);
  z-index: 1000;
  transition: all 0.3s ease-out;
}
.imageType02 .image:hover .image-cont {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.imageType02 .image .image-title {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}

.imageType02 .image .image-btn {
  display: inline-block;
  color:#fff;
  padding:7px 24px 5px 24px;
  background-color: #000;
  border-radius: 40px;
  font-weight: 300;
  margin-top:15px;
}


/* #3 */
.imageType03 {
  width: 1200px;
  margin:0 auto;
  color:white;
}
.imageType03 a {
  color: inherit;
  font-size: 14px;
}
.imageType03 .img-wrap .img-main {
  position: absolute;
  width: 590px;
}
.imageType03 .img-wrap .img-main .img {
  position: relative;
}
.imageType03 .img-wrap .img-main .img article {
  position: absolute;
  left: 30px;
  bottom: 58px;
  padding:15px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 350px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imageType03 .img-wrap .img-main .img article .title {
  font-size: 30px;
  display: block;
}
.imageType03 .img-wrap .img-main .img article .desc {
  font-size: 14px;
  display: block;
}
.imageType03 .img-wrap .img-main .img .img-link {
  position: absolute;
  bottom: 20px;
  left: 30px;
  padding:3px 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
} 


.imageType03 .img-wrap .img-sub {
  margin-left: 610px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap:20px;
}
.imageType03 .img-wrap .img-sub .img {
  width: 285px;
  position: relative;
}

.imageType03 .img-wrap .img-sub .img .img-pic{
  float:left;
  height: 285px;
}
.imageType03 .img-wrap .img-sub .img article {
  padding: 15px;
  position: absolute;
  width: max-content;
  left:50%;
  transform: translate(-50%, -20%);
  top: 172px;
  background-color: rgba(0, 0, 0, 0.7);

}
.imageType03 .img-wrap .img-sub .img article .title {
  font-size:30px;
}

