body {
  background-color: #f3f3f3;
}

.imageType {
  padding: 100px 0;
  margin-top:100px;
  font-family: 'GmarketSans';
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.imageType01 .img-wrap {
  display: flex;
  gap:20px;
}

header {
  padding-bottom: 100px;
}

h2 {
  font-size: 50px;
  color: black;
}

/* 01 */
.imageType01 {
  color: white;
  width: 1200px;
  margin: 0 auto;
}

.imageType01 .img-wrap .container {
  position: relative;
  width:1200px;
}

.imageType01 .img-wrap .container article {
  padding: 15px;
  background-color: rgba( 0, 0, 0, 0.7 );
  opacity: 0.7;
  width: 475px;
  position: absolute;
  bottom: 30px;
  left:30px;
}

.imageType01 .img-wrap .container img {
  width: 590px;
  height: 440px;
}

.imageType01 .img-wrap .container article .img-title {
  font-weight: 400;
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.imageType01 .img-wrap .container article .img-desc {
  font-weight: 300;
  font-size: 12px;
  display: block;
  line-height: 1.4;
  margin-bottom: 20px;
}

.imageType01 .img-wrap .container article .img-link a {
  color:white;
  font-weight: 300;
  font-size: 14px;
}

/* 02 */
.imageType02 {}
.imageType02 .img-wrap .container .img-wrap {
  display: flex;
  gap:20px
}


