// #header
// #main
//    #aboutCont
//    #referCont
//    #portCont
//    #scriptCont
// #footer


//#header
#header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-sub ;
    border-bottom: 1px solid #2e2e30;
    border-top: 1px solid #2e2e30;
    .header__port {
        flex: 0 0 30%;
        a {
            display: inline-block;
            padding: 7px;
            margin: 10px;
        }
    }
    .header__logo {
        flex: 0 0 20%;
        text-align: center;
        a {
            font-size: 30px;
            font-family: $font-logo;
            font-weight: bold;
            padding: 7px 7px 9px;
            margin: 10px;
            display: block;
        }
    }

    .header__menu {
        flex: 0 0 30%;
        text-align: right;
        ul {
            margin-right: 10px
        }
        li {
            display: inline;
            a {
                display: inline-block;
                padding: 5px;
                margin: 1px;
            }
        }
    }
    .header__ham {
        position: absolute;
        left: 14px; top: 18px;
        width: 40px; height: 40px;
        display: none;

        &::before {
            content: '';
            position: absolute;
            top: 8px; left: 8px;
            width: 10px; height: 10px;
            background: #fff;
            box-shadow: 0 14px 0 #fff;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 8px; right: 8px;
            width: 10px; height: 10px;
            background: #fff;
            box-shadow: 0 -14px 0 #fff;
        }
    }
}

@media (max-width: 1100px) {
    #header {
        .header__menu {
            display: none;
        }
        .header__port {
            display: none;
        }
        .header__logo {
            flex: 0 0 100%;
        }
        .header__ham {
            display: block;
        }
    }
}
@media (max-width: 800px) {
    #header {
        .header__logo {
            a {
                font-size: 22px;
            }
        }
        .header__ham {
            left: 12px; top: 10px;
            transform: scale(0.8);
        }
    }
}
//#mainCont2
#mainCont2  {
    .main__cont2 {flex-grow: 1;}
    .container {
        max-width: 1840px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    .sub__cont {
        position: relative;
    }
    
    .sub__cont:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sub__cont .circle {
        border-radius: 50%;
        border: 6px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sub__cont:nth-child(2) .circle {
        width: 11vw; height: 11vw;
        border: 6px solid #fff;
        margin-top: 315px;
        img {
            width: 2vw;
            height: 2vw;
        }
    }
    .sub__cont:nth-child(3) .circle {
        
        width: 37vw;
        height: 37vw;
        border: 6px solid #fff;
        img {
            width: 17vw;
            height: 17vw;
        }
    }
    span {

        font-size: 24px;
        &.gray {
            color: #2E2E2E;
        }
    }
}
@media (max-width: 1100px) {
    .sub__cont:nth-child(2) {
        display: none;
    }
}
//#aboutCont
#aboutCont h3 {
    font-family: $font-main;
    margin: 13vw 0 10vw 0;
    font-size: 7.5vw;
}
#aboutCont span, p {
    font-size: 1vw;
    line-height: 1.5;
    font-family: $font-kor1;
}
#aboutCont .about1 img {
    display: block;
    height: 30vw;
    margin-bottom: 3vw;
}
#aboutCont .about1 span {
    display: inline-block;
    margin-bottom: 1.3vw;
}
#aboutCont .about1 p {
    width: 43vw;
    margin-bottom: 16vw;
}
#aboutCont .about2  {
    overflow: hidden;
}
#aboutCont .about2 div {
    position: absolute;

    margin-left: 46vw;
}
#aboutCont .about2 img {
    display: block;
    float: left;
    width: 43vw;
    height: 100vh;
    margin-bottom: 372px;
}
#aboutCont .about2 span {
    display: block;
    margin-bottom: 37px;
}
#aboutCont .about2 p {
    float: left;
    display: block;
    width: 384px;
}
#aboutCont .about3 {
    position: relative;
}
 
#aboutCont .about3 {
    position: relative;
    overflow: hidden;
}
#aboutCont .about3 div {
    position: absolute;
    left: 0;
    top: 0;
}
#aboutCont .about3 p {
    display: inline-block;
    width: 25vw;
}
#aboutCont .about3 span {
    display: block;
}
#aboutCont .about3 img {
    height: 480px;
    float: right;
    width: 50vw;
 
}
#aboutCont .about3 {
    position: relative;
    margin-bottom: 20vh;
    overflow: hidden;
}
@media (max-width: 1100px) {
    #aboutCont .about1 p {
        width: 100%;
    }
    #aboutCont .about2 img {
        width: 100%;
        height: 30vw;
        margin-bottom: 10vh;
    }
    #aboutCont .about2 div {
        position: relative;
        display: block;
        margin-left: 0;
    }
    #aboutCont .about2 {
        margin-bottom: 10vh;
    }
    #aboutCont .about2 p {
        width: 100%;
    }
    #aboutCont .about3 {
        position: relative;
        overflow: visible;
        margin-bottom:60vh;
    }
    #aboutCont .about3 img {
        width: 100%;
        height: 30vw;
    }
    #aboutCont .about3 div {
        display: block;
        position: absolute;
        top: 200px;
        left: 0;

    }
    #aboutCont .about3 div p {
        margin-bottom: 37px;
        width: 100%;
    }
   
   
    
}

//#footer
#footer {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-sub;
    border-top: 1px solid #2e2e30;

    div {
        padding: 22px;
        text-align: center;

        h4 {
            font-weight: 100;
            text-transform: capitalize;
            padding: 6px;
        }

        h4, p, ul {
            display: inline-block;
            li {
                display: inline;
                a {
                    display: inline-block;
                    padding: 4px;
                };
            }
        }
    }

    div:nth-child(1){
        flex: 0 0 25%;
    }
    div:nth-child(2){
        flex: 0 0 25%;
        border-left: 1px solid #2e2e30;
        border-right: 1px solid #2e2e30;
    }
    div:nth-child(3){
        flex: 0 0 50%;
    }
}

@media (max-width: 1100px) {
    #footer {
        div:nth-child(1){
            flex : 0 0 100%;
        }
        div:nth-child(2){
            display: none;
        }
        div:nth-child(3){
            display: none;
        }
    }
}


@media (max-width: 800px) {
    #footer {
        div {
            padding: 14px;
        }
    }
}