//#mainCont
//#aboutCont
//#referCont
//#scriptCont
//#portCont

//#mainCont

#mainCont {
    background: #000;
    height: 100vh;
    color: #fff;
    font-family: $font-main ;
    line-height: 0.9;
    font-size: 10vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}